* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body, html {
    height: 100%;
    width: 100%;
    background-image: url(../imgs/3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header {
    background-color: #000000b8;
    padding: 1px;
    width: 100%;
    overflow: hidden;
}

.header span {
    display: inline-block;
    padding: 5px;
    margin: 15px;
    text-decoration: none;
}

.header .txt {
    color:#ffffff;
    font-size: 30px;
    font-weight: bold;
    font-family: Cairo;
}

.header .btn {
    width: 100px;
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 25px;
    border-radius: 30px;
    float: right;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: Cairo;
    text-transform: uppercase;
}

.header .btn-logout {
    color: #000000;
    border: none;
    outline: none; 
    text-decoration: none;
}

.header .btn:hover {
    text-decoration: none;
    background-color: #d806067e;
  }

.container ul{
    float: revert;
    margin-top: 25px;
    text-align: center;
}

.container ul li {
    display: inline-block;
    margin-top: 200px;
    padding: 15px;
    font-family: Cairo;
    font-weight: bold;
    font-size: 18px;
}

.container ul li a {
    text-align: center;
    padding: 20px;
    background-color: #00000071;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}

.container ul li a:hover {
    background-color: #ffffff;
    color: black;
}





